<%= form_with(model:[@user,@request]) do |f| %>
  <div class="form-group">
    <label for="request_title"><i class="fa-solid fa-check"></i> 追加したいゲームのタイトル</label>
    <p>※スマホゲーム以外のゲームはリクエストを拒否させていただきますので、ご了承ください。</p>
      <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label for="request_title"><i class="fa-solid fa-check"></i> ダウンロード機種</label>
    <br>
    <%= f.radio_button :status, "ios" %> ios
    <br>
    <%= f.radio_button :status, "Android" %> Android
  </div>
  <div class="form-group">
    <label for="request_title"><i class="fa-solid fa-check"></i> ゲーム詳細（任意）</label>
    <br>
      <%= f.text_field :discription, class: 'form-control' %>
  </div>
  <div class="form-btn mb-3">
    <button type="submit" class="btn btn-request-custom">リクエストを送信</button>
  </div>
<% end %>